/* Write your code here. */

.div-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
  background-size: cover;
  height: 100vh;
  justify-content: center;
}

.heading {
  color: #f8fafc;
  font-family: "Roboto";
  font-size: 46px;
}

.images-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image {
  height: 160px;
  width: 160px;
}
